<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center">
      Clockin Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="new-content-background-color">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clockin Reminder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      your current location is:- <br>
      lat:-{{currLat}}<br>
      lng-:{{currLng}}
    </p>
  </div>
</ion-content>